* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 10%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 8vw;
    font-weight: 400;
}

p {
    text-transform: uppercase;
    font-size: 15px;
}

.intro,
.outro {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #101214;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    overflow: hidden;
}

.work {
    position: relative;
    width: 100vw;
    overflow: hidden;
    perspective: 1000px;
    background: url("../images/bg.jpg") 50% 30% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.row {
    width: 100vw;
    display: flex;
}

.col {
    flex: 1;
    aspect-ratio: 1;
}

.img {
    position: relative;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.img[data-origin="left"] {
    transform-origin: 0% 0%;
}

.img[data-origin="right"] {
    transform-origin: 100% 0%;
}
